.gp__container{
    height: 100%;
}

.modal-gpui{
    width: 100%;
    height: 100vh;
}

.modal-gpui .modal-dialog{
    width: 90%;
}

.modal-gpui .modal-dialog .modal-content{
    height: 90vh;
}

.modal-gpui .modal-dialog .modal-content .modal-body{
    padding: 0;
    height: calc(100% - 42px);
}

.gp__admx-radio input[type="radio"]{
    opacity: unset;
    position: static;
}

.gp__admx-options input[type="checkbox"]{
    opacity: unset;
    position: static;
}

.gp__admx-state-policy label{
    font-weight: 400;
        margin: 0;
}

.gp__footer
 {
   gap: 10px; 
 }


 .gp__header-left {
  display: flex;
  align-items: center;
  min-width: 0;
  overflow: hidden;
}
.gp__control-actions {
  margin-left: auto;
  display: none;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  white-space: nowrap;
}
.gp__control-separator {
  width: 1px;
  height: 24px;
  background-color: #d1d1d1;
}

.gp__admx-wrapper .packages-control__modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.5s all;
  z-index: 100;
  border: 1px solid #d1d1d1;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}
.gp__admx-wrapper .packages-control__modal.active {
  transform: translate(-50%, -50%) scale(1);
  transition: 0.5s all;
}
.gp__admx-wrapper .packages-control__modal-wrapper {
  width: 408px;
}
.gp__admx-wrapper .packages-control__modal-header {
  background: #f5f5f5;
  border-bottom: 1px solid #d1d1d1;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.gp__admx-wrapper .packages-control__modal-header .title {
  font-weight: 600;
  color: #363636;
}
.gp__admx-wrapper .packages-control__modal-header .close {
  width: 16px;
  height: 16px;
  position: absolute;
  cursor: pointer;
  right: 12px;
  top: 12px;
  background-image: url(../img/svg/close.svg);
}
.gp__admx-wrapper .packages-control__modal-content {
  display: flex;
  flex-direction: column;
  max-height: 300px;
  overflow-y: auto;
  padding: 10px;
  min-height: 100px;
}
.gp__admx-wrapper .packages-control__modal-footer {
  height: 45px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0 20px;
  border-top: 1px solid #d1d1d1;
}
.gp__admx-wrapper .packages-control__modal-footer .btn {
  width: auto;
  padding: 0 10px;
}
.gp__admx-wrapper .packages-control__modal-footer .btn-ok {
  margin-left: auto;
}

.gp__admx-info .packages-control__btn-edit {
  border: 1px solid #297FB0;
  padding: 0 12px;
  width: unset;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: #fff;
  font-size: 12px;
  border-radius: 3px;
}
.packages-control__btn-edit:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.packages-control__modal-content .packages-control__package-item {
  border: 1px solid #d1d1d1;
  padding: 5px 10px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 12px;
  border-radius: 2px;
  height: 32px;
}
.packages-control__package-item.selected {
  /* background-color: #297FB0;
  color: #fff; */
  border: 1px solid #297FB0;
}
.packages-control__package-item:focus {
  outline: 1px solid #297FB0;
}
